body {
  background-color: #101010;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 'Cabin-Bold',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}
@font-face {
  font-family: 'Cabin-Bold';
  src: local('Cabin-Bold'), url(/assets/fonts/Cabin-Bold.ttf) format('ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, 'Cabin-Bold';
}
